fieldset > label {
    font-weight: bold;
    font-size: 130%;
}

.msg {
    font-size: 150%;
    color: red;
    font-weight: bold;
}

.floatLeft{
    margin: 5px;
    float: left;
}

.containerBelow{
    width: 500px;
    clear: left;
}

.containerBelow > textarea {
    width: 600px;
    height: 300px;
}
