ol#fibContainer, ol#fibContainerWorker {
    border: 3px solid darkgray;
    width: 250px;
}

ol#fibContainer > li:not(:last-child), ol#fibContainerWorker > li:not(:last-child){
    border-bottom: 3px solid darkgray;
    border-left: 3px solid darkgray;
}

ol#fibContainer > li:last-child, ol#fibContainerWorker > li:last-child {
    border-left: 3px solid darkgray;
}

article > section{
    float: left;
    margin: 20px;
}
